<div class="navbar-tabs-menu"></div>
<div class="navbar-menu">
    <h1 style="padding-top: 12px; margin-left: 12px; color:#FFF;">Setup</h1>
    <ul>
        <li class="li-p">       
            <a class="bt5 sub-btn" routerLink="usuarios">
                <span class="icon"><i class="fa fa-address-card"></i></span>
                <span>Usuários</span>
            </a>
        </li> 
        
        <li class="li-p">       
            <a class="bt4 sub-btn" routerLink="tipousuario">
                <span class="icon"><i class="fa fa-list-ul"></i></span>
                <span>Tipo de usuário</span>
            </a>
        </li> 

        <li class="li-p">       
            <a class="bt3 sub-btn" routerLink="setor">
                <span class="icon"><i class="fa fa-briefcase"></i></span>
                <span>Setor</span>
            </a>
        </li>
        
        <li class="li-p"> 
            <a class="bt1 sub-btn" routerLink="funcao">
                <span class="icon"><i class="fa fa-sitemap"></i></span>
                <span>Função</span>
            </a>
        </li>
        
        <li class="li-p">
            <a class="bt2 sub-btn" routerLink="perfilusuario">
                <span class="icon"><i class="fa fa-users"></i></span>
                <span>Perfil de Usuário</span>
            </a>
        </li>

        <li class="li-p">
            <a class="bt2 sub-btn" routerLink="sistemas">
                <span class="icon"><i class="fa fa-desktop"></i></span>
                <span>Sistemas</span>
            </a>
        </li>

        <li class="li-p">
            <a class="bt2 sub-btn" routerLink="papeis">
                <span class="icon"><i class="fa fa-copy"></i></span>
                <span>Papéis</span>
            </a>
        </li>					
        
        <li class="li-p">
            <a class="bt2 sub-btn" routerLink="log">
                <span class="icon"><i class="fa fa-bookmark"></i></span>
                <span>Log</span>
            </a>
        </li>
    </ul>
                
    <div class="navbar-spacing clearfix"></div>
    <div class="menu_sair side-bar navbar-menu">
    <ul>
        <li>
            <a href="#">
                <span class="icon"><i class="fa fa-arrow-circle-down"></i></span>
                <span>Sair</span>
            </a>
        </li>
    </ul>
    </div>
</div>